# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# TensorFlow
logs/
checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Model Files
*.h5
*.keras
*.pkl

# Temporary Files
*.tmp
*.log
